@import 'partial/reset';
@import 'partial/module';
@import 'partial/layout';

body {
  background: #eee;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.stories {
  display: flex;
  flex-wrap: wrap;
  .item {
    width: 33%;
  }
}

.item {
}
